.Mentoring {
    min-height: var(--bottom-footer);
    color: var(--black-color);
}

.Mentoring-container { 
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.Mentoring-title {
    text-align: center;
    font-weight: bold;
    color: var(--name-color);
}

.Mentoring-description {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Mentoring-icons-container {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.icon-container {
    justify-self: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container-para {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bolder;
    color: var(--name-color);
}
